<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SignInWithGoogle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E90E1591DF63EE100C8B616</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E90E16D1DF63EE100C8B616</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E90E1781DF63EE100C8B616</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
